<nav class="p-3">
  <ul class="nav nav-pills">
    <li>
      <button routerLink="/home" class="btn btn-outline-info ms-1">
        <i class="bi bi-house text-success"></i>
        Home
      </button>
    </li>
    <li>
      <button routerLink="/products" class="btn btn-outline-info ms-1">Products</button>
    </li>
    <li>
      <button routerLink="/newProduct" class="btn btn-outline-info ms-1">
        <i class="bi bi-plus-circle text-success"></i>
        New Product</button>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
